<h2>ログイン</h2>

<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <div class="user_form">
  <%= f.label :email, "メールアドレス" %>
  </div>
  <div class="input_field">
  <%= f.email_field :email %>
  </div>

  <div class="user_form">
  <%= f.label :password, "パスワード" %>
  </div>
  <div class="input_field">
  <%= f.password_field :password %>
  </div>

  <%= f.submit "ログイン", :class => "login_btn" %>
<% end %>
