<h2>編集</h2>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="user_form">
  <%= f.label :name %>
  </div>
  <div class="input_field">
  <%= f.text_field :name %>
  </div>

  <div class="user_form">
  <%= f.label :email %>
  </div>
  <div class="input_field">
  <%= f.email_field :email %>
  </div>

  <div class="user_form">
  <%= f.label :password %>
  </div>
  <div class="input_field">
  <%= f.password_field :password %>
  </div>

  <div class="user_form">
  <%= f.label :password_confirmation %>
  </div>
  <div class="input_field">
  <%= f.password_field :password_confirmation %>
  </div>

  <div class="user_form">
  <%= f.label :icon %>
  </div>
  <div class="user_form">
  <%= image_tag(@user.icon.url) if @user.icon.url %>
  </div>
  <div class="input_field">
  <%= f.file_field :icon %>
  <%= f.hidden_field :icon_cache %>
  </div>
</div>

  <%= f.submit "編集して登録", :class => "submit_btn" %>

<% end %>
