<h3>以下の内容で投稿します</h3>

<%= form_with(model: @picture, local: true) do |f| %>
  <div class="picture_form">
  <%= f.label :title %>
  </div>
  <div class="input_field">
  <%= f.text_field :title %>
  </div>

  <div class="picture_form">
  <%= f.label :image %>
  </div>
  <div class="picture_form">
  <%= image_tag(@picture.image.url) if @picture.image.url %>
  </div>
  <div class="input_field">
  <%= f.hidden_field :image_cache %>
  </div>

  <div class="picture_form">
  <%= f.label :content %>
  </div>
  <div class="input_field">
  <%= f.text_field :content %>
  </div>



  <%= f.submit "投稿する", :class => "submit_btn" %>

<% end %>
