<h2>投稿一覧</h2>

<div class="picture_index">
<table>
  <tr>
    <th>アイコン</th>
    <th>タイトル</th>
    <th>画像</th>
    <th>内容</th>
    <th>詳細</th>
  </tr>

  <% @pictures.each do |pic| %>
  <tr>
    <td><%= image_tag(pic.user.icon.url) if pic.user.icon.url %></td>
    <td><%= pic.title %></td>
    <td><%= image_tag pic.image.url %></td>
    <td><%= pic.content %></td>
    <td><%= link_to "詳細を見る", picture_path(pic.id), class: "show_btn" %></td>
  </tr>
  <% end %>
</table>
</div>

<%= link_to "投稿する", new_picture_path, class: "picture_btn" %>
