<h2>詳細を見る</h2>

<div class="show_form">
<h3>タイトル</h3>
</div>
<div class="show_detail">
<%= @picture.title %>
</div>

<div class="show_form">
<h3>画像</h3>
</div>
<div class="show_detail">
<%= image_tag(@picture.image.url) if @picture.image.url %>
</div>

<div class="show_form">
<h3>内容</h3>
</div>
<div class="show_detail">
<%= @picture.content %>
</div>

<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to "お気に入り解除", favorite_path(id: @favorite.id), class: "delete_btn", method: :delete %>
  <% else %>
    <%= link_to "お気に入り登録", favorites_path(picture_id: @picture.id), class: "picture_btn", method: :post %>
  <% end %>
<% end %>

<%= link_to "編集する", edit_picture_path(@picture.id), class: "picture_btn" %>
<%= link_to "削除する", picture_path(@picture.id), class: "delete_btn",method: :delete %>
