<!DOCTYPE html>
<html>
  <head>
    <title>Watepuphoto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="background_transparent">
    <div class="toggle">
      <span></span>
      <span></span>
      <span></span>
      <span>menu</span>
    </div>
    <div class="mobile_menu">
      <ul>
        <li><%= link_to "トップ", "/" %></li>
        <% if logged_in? %>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li><a href="#">投稿</a></li>
          <li><a href="#">確認</a></li>
          <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
        <% else %>
          <li><a href="#">新規登録</a></li>
          <li><a href="#">ログイン</a></li>
        <% end %>
    </div>
    <header>
      <h1><%= link_to "わてぷフォト", "/" %></h1>
      <p>学んだことをメモしておけます</p>
    </header>

    <div class="slider">
    </div>

    <% flash.each do |key,value| %>
      <%= content_tag(:div, value, class:"#{key}") %>
    <% end %>

    <%= yield %>
    <footer>
      <p>2018 わてぷフォト</p>
    </footer>
  </div>
    <script>
    $(function(){
      $('.toggle').click(function(){
        $(this).toggleClass('active');

        if ($(this).hasClass('active')){
          $('.mobile_menu').addClass('active');
        }else{
          $('.mobile_menu').removeClass('active');
        }
      });
    });
    </script>
  </body>
</html>
